


*{
    margin: 0;
    padding: 0;
}
#h1{
    text-align: center;
    line-height: 5rem;
   

}
.choice{
    justify-content: center;
    display: flex;
    object-fit: cover;
    align-items: center;
    gap: 3rem;
    border-radius: 50%;
    text-align: center;



}
body{
    background-color: aqua;
}
img{
    border-radius: 50%;
   
}
.choices{
     justify-content: center;
    display: flex;
     gap: 3rem;
      /* border-radius: 50%;
        align-items: center; */
     /* height: 165px;
     width: 165px; */
}
.choice:hover{
    opacity: 0.5;
    /* background-color: rgb(81, 10, 246); */
    cursor: pointer;
}
#com{
    text-align: center;
    justify-content: center;
    /* display: flex; */
    gap: 3rem;
}
#you{
  text-align: center;
    justify-content: center;   
}
#div1{
    text-align: center;
    justify-content: center; 
    display: flex;
    gap: 3rem;
    line-height: 5vmin;
    font-size: 2rem;
    margin-top: 3rem;
}
#p{
 margin-top: 3rem;
 display: flex;
 justify-content: center;
}
#para{
   
    display: inline;
   
    background-color:rgb(254, 7, 24);
    color: rgb(247, 28, 236);
    font-size: 2rem;
    padding: 1rem;
   border-radius: 2rem;
   
}
